<%- include("header") -%>
<p>
    <center>
    Hi I'm Pradhyumna Singh Rathore a Sophomore Student <br>pursuing B.Tech in Information Technology Deptt. from SGSITS, Indore. 
    with an avid interest in mathematics, programming,development & logic Solving
    </center>
</p>
<%- include("footer") -%>